.one {
    font-size: 50px;
    margin-top: 220px;
    margin-left: 150px;
}
.two {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 150px;
}
.three {
    background-color: blueviolet;
    width: 290px;
    margin-left: 810px;
    margin-top: -300px;
    padding: 10px 40px;
    border-radius: 10px;
}
form {
    margin-left: 800px;
    font-size: 20;
    border-radius: 10px;
    padding:20px 100px 20px 20px;
    background-color: black;
    width: 250px;
}
input {
    padding: 10px 145px 10px 10px ;
    border-radius: 5px;
}
button {
    background-color: green;
    margin: auto;
    padding: 10px 30px;
    width: 300px;
}
body {
    background-image: url("../1209-1.jpg");
    background-size: 100% 100%;
}

